<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cat" class="com.example.Cat">
        <constructor-arg value="Whiskers"/>
        <constructor-arg value="Siamese"/>
    </bean>

    <bean id="dog" class="com.example.Dog">
        <constructor-arg value="Buddy"/>
        <constructor-arg value="Golden Retriever"/>
    </bean>

    <bean id="parrot1" class="com.example.Parrot">
        <constructor-arg value="Polly"/>
        <constructor-arg value="Green"/>
    </bean>

    <bean id="parrot2" class="com.example.Parrot">
        <constructor-arg value="Kiki"/>
        <constructor-arg value="Yellow"/>
    </bean>

    <bean id="person" class="com.example.Person">
        <constructor-arg value="John Doe"/>
        <constructor-arg ref="cat"/>
        <constructor-arg ref="dog"/>
        <constructor-arg>
            <list>
                <ref bean="parrot1"/>
                <ref bean="parrot2"/>
            </list>
        </constructor-arg>
    </bean>

</beans>